.crud {
	padding-top: 50px;
}
.crud__form {
	max-width: 500px;
	margin: 0 auto;
}
.crud__title {
	text-align: center;
}
input, select, button {
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;	
	margin-bottom: 10px;
}
.update__link {
	color: blue;
}
.update__btn {
	margin-top: 20px;
	background: #FFC700;
	cursor: pointer;
}